body {
    padding: 0;
    margin: 0;
}


.navbar {
    height: 80px;
    /* background-color: blue; */
    display: flex;
    background-color: antiquewhite;
    align-items: center;
}

.logoug {
    width: auto;
    height: 90%;
    margin-right: 20px;
}

.custom-padding {
    padding-left: 10%;
}

.title {
    text-align: center;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td{
    vertical-align: middle;
}

.action {
    display: flex;
    border: 0;
    justify-content: space-evenly;
}

.center{
    display: flex;
    justify-content: center;
}

.long-data{
    width: 300px;
}

.medium-data{
    width: 200px;
}

.short-data{
    width: 100px;
}